@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,700;1,100;1,200;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,300&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
